.div-layout {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px;
    position: absolute;
    width: 1112px;
    height: 490px;
    left: 224px;
    top: 235px;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
}

.row1 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    top: 0px;
    flex-direction: row;
    width: 1112px;
    height: 49px;
    background: #FF9138;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}

.row2 p {
    padding-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #535261;
}

.row3 p {
    padding-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #535261;
}

.row4 p {
    padding-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #535261;
}

.row2 {
    display: flex;
    top: 0px;
    flex-direction: row;
    width: 1112px;
    height: 49px;
    background: #FFFFFF;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.row3 {
    display: flex;
    top: 0px;
    flex-direction: row;
    width: 1112px;
    height: 49px;
    background: #FFF2E7;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.row4 {
    display: flex;
    top: 0px;
    flex-direction: row;
    width: 1112px;
    height: 49px;
    background: #FFFFFF;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.colum1-service {
    display: flex;
    width: 150px;
    border-right: 1px solid #FFE3CD;

}

.colum2-service {
    display: flex;
    width: 224px;
    border-right: 1px solid #FFE3CD;

}

.colum3-service {
    display: flex;
    width: 230px;
    border-right: 1px solid #FFE3CD;

}

.colum4-service {
    display: flex;
    width: 253px;
    border-right: 1px solid #FFE3CD;

}

.colum5-service {
    display: flex;
    width: 125px;
    border-right: 1px solid #FFE3CD;

}

.colum6-service {
    display: flex;
    width: 125px;


}

.colum1-service-p {
    display: flex;
    margin-left: 8px;
    margin-top: 12px;
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.colum5-service a {
    margin-left: 8px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-left: 10px;
    text-decoration-line: underline;
    color: #4277FF
}

.colum6-service a {
    margin-left: 8px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-left: 10px;
    text-decoration-line: underline;
    color: #4277FF
}