.dropdown {
    display: flex;
    width: 200px;
    height: 48px;
}

.dropdown p {
    flex: 4;
    margin: auto;
}

.dropdown-content {
    margin-top: 0px;
    margin-left: 200px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #7E7D88;
}


.dropdown-content-div-a {
    color: #7E7D88;
    height: 48px;
    width: 188px;
    display: flex;
    text-decoration: none;
    padding-left: 12px;
    margin: auto;
}

.dropdown-content-div-a:hover {
    background-color: #FFF2E7;
    color: #FF9138;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


.dropdown:hover .dropdown-content {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
}

.button-nknd {
    background: #FF7506;
    color: #FFFF;
    border-bottom-right-radius: 8px;
    pointer-events: none !important;
}

.button-qltk {
    background: #FF7506;
    color: #FFFF;
    pointer-events: none !important;
}

.button-cd {
    background: #FF7506;
    color: #FFFF;
}

.button-qlvt {
    background: #FF7506;
    color: #FFFF;
    border-top-right-radius: 8px;
    pointer-events: none !important;
}